/*-----------------------------------------------------
    + admin.manage 뷰의 스타일
    + 2021.10.08 by DrBAE : amadeus.bae@gmail.com
-----------------------------------------------------*/

@import "app-base.less";


#admin-manage-container
{
    // width:100%;
    min-width: 800px;
    max-width: 1900px;
    height: 100%;
    border: yellowgreen solid 1px;
    background-color: @content_back_color;
}
#admin-manage-container>header
{
    display: flex;
    width: 100%;
}
#admin-manage-container>section
{
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
#admin-manage-container>section:last-child
{
    margin-top: 2rem;
    // padding: 0rem;
}
.admin-manage-add-section
{
    flex-direction: column;
}
.admin-manage-add-section>hr
{
    width: 100%;
}


//label
.admin-manage-label
{
    width: 30rem;
    // width:max-content;
    // margin-left: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.admin-manage-label>*:nth-child(4n-3) 
{ 
    width: 7rem; 
    display: flex;
    justify-content: flex-start;
    // padding-right: 1rem;
}
.admin-manage-label>*:nth-child(4n-2)
{ 
    width:auto;
}
.admin-manage-label>*:nth-child(4n-1) 
{ 
    width: 17.8rem; 
}
.admin-manage-label>*:nth-child(4n) 
{ 
    width: auto; 
}

//add label
.admin-manage-add-label
{
    width: 30rem;
    // width:max-content;
    // margin-left: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

//button
.admin-manage-label>button
{
    display:flex;
    align-items: center;
    justify-content: center;
}
.admin-manage-label>button:hover
{
    border: yellowgreen dashed 1px;
    color:coral;
    cursor: pointer;
}
.admin-manage-label>button:focus, 
.admin-manage-label>button:focus-visible
{
    border: yellowgreen solid 1px;
    outline: none;
}
// .admin-manage-label>button>span:last-child
// {
//     margin-left: 0.5rem;
// }

//icon
.material-icons-outlined
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color:rgba(sienna, 0.52);
}
.material-icons-outlined:hover
{
    color:coral;
    cursor: pointer;
}
