/*-----------------------------------------------------
    + file: admin-manage.less
    + admin.manage 뷰의 스타일
    + 2021.10.08 by DrBAE : amadeus.bae@gmail.com
-----------------------------------------------------*/
/*-----------------------------------------------------
    + file: app-base.less
    + less 공통 변수 정의
    + 2021.10.08 by DrBAE : amadeus.bae@gmail.com
-----------------------------------------------------*/
#admin-manage-container {
  min-width: 800px;
  max-width: 1900px;
  height: 100%;
  border: yellowgreen solid 1px;
  background-color: #F5F6F7;
}
#admin-manage-container > header {
  display: flex;
  width: 100%;
}
#admin-manage-container > section {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.admin-manage-edit-section {
  flex-direction: column;
}
.admin-manage-edit-section > hr {
  width: 100%;
}
.admin-manage-label {
  width: 80%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.admin-manage-edit-section > label:first-child {
  width: calc(100% + 2rem);
  padding-right: calc(20% + 1rem);
  background: linear-gradient(rgba(124, 252, 0, 0.3), rgba(255, 255, 255, 0));
  margin-top: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
  height: 40px;
  font-family: App-Header-Korean, App-Header-English;
}
.admin-manage-edit-section:first-of-type {
  margin-top: -1rem;
}
.admin-manage-label > *:nth-child(5n-4) {
  width: 10rem;
  display: flex;
  justify-content: flex-start;
}
.admin-manage-label > *:nth-child(5n-3) {
  width: auto;
}
.admin-manage-label > *:nth-child(5n-2) {
  width: 60%;
}
.admin-manage-label > *:nth-child(5n -1),
.admin-manage-label > *:nth-child(5n) {
  width: auto;
}
.admin-manage-add-label {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.admin-manage-label > button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-manage-label > button:hover {
  border: yellowgreen dashed 1px;
  color: coral;
  cursor: pointer;
}
.admin-manage-label > button:focus,
.admin-manage-label > button:focus-visible {
  border: yellowgreen solid 1px;
  outline: none;
}
.admin-manage-label .material-icons-outlined {
  margin-left: 0.5rem;
  color: rgba(160, 82, 45, 0.52);
}
.admin-manage-label .material-icons-outlined:hover {
  color: coral;
  cursor: pointer;
}
.admin-manage-label > button .material-icons-outlined {
  margin-left: 0rem;
  margin-right: 0.5rem;
}
#admin-manage-sensor-active {
  height: 35px;
  display: flex;
  align-items: center;
}
.admin-manage-label:last-child {
  height: max-content;
}
.admin-manage-label:last-child span:last-child {
  padding-left: 1rem;
  font-style: italic;
  width: max-content;
}
