/*-----------------------------------------------------
    + v0.1
    + 웹사이트 전체적인 테마를 설정
    + 2021.09.09 by DrBAE : amadeus.bae@gmai.com
-----------------------------------------------------*/
html {
  font-size: 100%;
}
body {
  background-color: #343a40;
}
.btn,
.flex-display {
  display: flex;
}
.flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-end;
}
.flex-horizontal > * {
  margin-right: 1rem;
}
/* ----[ app-container ]---- */
#app-container {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}
/* ----[ app-content ]---- */
#app-content {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0;
  flex-grow: 1;
}
/* ----[ app-sidebar ]---- */
#app-sidebar {
  background-color: transparent;
  font-size: 1.1rem;
}
#app-sidebar.li {
  margin-bottom: 0rem;
}
#app-sidebar ul.nav.nav-pills {
  flex-grow: 1;
  align-items: center;
}
#app-sidebar .nav-link {
  padding: 0.5rem 0.5rem;
}
/* ----[ app-sidebar: brand ]---- */
#app-sidebar-brand img {
  height: 32px;
  /* margin-right: 5px; */
}
/* ----[ app-sidebar: login ]---- */
#app-sidebar-login {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.material-icons-two-tone {
  align-items: center;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
.material-icons-two-tone.md-dark {
  filter: contrast(4) invert(0.5);
}
.material-icons-two-tone.md-light {
  filter: contrast(4) invert(0.8);
}
.material-icons-two-tone.md-color {
  color: #539BF5;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: #ffffff;
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
#app-sidebar-login a {
  display: flex;
  align-items: center;
  align-content: center;
}
/* ----[ app-sidebar: GitHub ]---- */
#app-sidebar-github {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
}
#app-sidebar-github div,
#app-sidebar-github div:hover {
  width: 24px;
  height: 24px;
  background-image: url(/assets/img/github.svg);
}
#app-sidebar-github div {
  background-image: url(/assets/img/github.svg);
}
#app-sidebar-github div:hover {
  background-image: url(/assets/img/github_dark.svg);
}
/*  SVG fill color: not applied to svg wrapped by <img> */
#app-sidebar-github path {
  fill: #444C56;
}
#app-sidebar-github path:hover {
  fill: #539BF5;
}
/* ----[ apps-camera-img ]---- */
#apps-camera-img {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  /* border: solid; */
  border-color: cornflowerblue;
  background-color: transparent;
  background-image: url(/assets/img/b2f.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#apps-camera-img-container {
  position: relative;
  width: 100%;
  margin: 0;
}
#apps-camera-title {
  position: absolute;
  /* Position the background text */
  top: 0;
  /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */
  width: 100%;
  /* Full width */
  padding: 10px;
  /* Some padding */
  font-variant: small-caps;
}
#apps-camera-img-info-box {
  position: absolute;
  /* Position the background text */
  bottom: 0;
  /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */
  width: 100%;
  /* Full width */
  padding: 10px;
  /* Some padding */
}
/* home contents */
.home-content {
  font-size: inherit;
}
.home-content pre {
  font-size: inherit;
}
#lm-profile-container {
  width: 80%;
  min-width: 800px;
  margin-left: 1rem;
  border: yellowgreen dashed 2px;
}
#lm-profile-container header {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
#lm-profile-container section {
  margin-bottom: 1rem;
}
#lm-profile-container section > h5 ~ * {
  margin-left: 1rem;
}
.camsGraphBorder {
  margin-top: 4px;
  border: 1px solid lightgray;
}
.cams_contents_table {
  border-collapse: separate;
  border-spacing: 0 0px;
  display: block !important;
  width: 100%;
}
.cams_table_td {
  vertical-align: middle;
  font-family: Consolas;
}
#cams-sr-label {
  color: blue;
  padding-left: 10px;
}
.DateInput_input {
  font-weight: inherit;
}
/* log message */
.log-listing {
  width: 100%;
  color: darkblue;
  font-size: 1em;
  font-family: Consolas;
}
