/*-----------------------------------------------------
    + apps.export 뷰의 스타일
    + 2021.10.08 by DrBAE : amadeus.bae@gmail.com
-----------------------------------------------------*/

@import "app-base.less";

//
// ====[ 페이지: export ]====
//

#app-export-container
{
    // width:100%;
    min-width: 800px;
    max-width: 1900px;
    height: 100%;
    border: yellowgreen solid 1px;
    background-color: @content_back_color;
}
#app-export-container>header
{
    display: flex;
    width: 100%;
}
#app-export-container>section
{
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
//
#app-export-container>section#apps-export-button-section
{
    margin-top: 1rem;
    // margin-bottom: 1rem;
}
#app-export-container>section:last-child
{
    margin-top: 1rem;
    padding: 0rem;
}

//label
#app-export-container .apps-export-label
{
    width: 27rem;
    // width:max-content;
    // margin-left: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#app-export-container .apps-export-label>*:nth-child(3n-2) 
{ 
    width: 7rem; 
    display: flex;
    justify-content: flex-start;
    // padding-right: 1rem;
}
#app-export-container .apps-export-label>*:nth-child(3n-1)
{ 
    width:auto;
}
#app-export-container .apps-export-label>*:nth-child(3n) 
{ 
    width: 17.8rem; 
}

//button
#app-export-container .apps-export-label>button
{
    display:flex;
    align-items: center;
    justify-content: center;
}
#app-export-container .apps-export-label>button:hover
{
    border: yellowgreen dashed 1px;
    color:coral;
    cursor: pointer;
}
#app-export-container .apps-export-label>button:focus, 
#app-export-container .apps-export-label>button:focus-visible
{
    border: yellowgreen solid 1px;
    outline: none;
}
#apps-export-rows
{
    font-family: Consolas;
    font-style: oblique;
    justify-content: flex-end!important;
    padding-right: 1rem;
    color: #1100fb;
}

// //icon
// #app-export-container .material-icons-outlined
// {
//     // margin-left: 1rem;
//     color:rgba(sienna, 0.52);
// }
// #app-export-container .material-icons-outlined:hover
// {
//     color:coral;
//     cursor: pointer;
// }

//data table
// #apps-export-dt-section
// {
//     height: 100%;
// }
#apps-export-dt-table
{
    width: 100%;
}
#apps-export-dt-table th
{
    background: linear-gradient(0deg, rgb(166, 185, 209), rgba(rgb(166, 185, 209), 0.2));
    // background-attachment:scroll;
    font-family:Arial, Helvetica, sans-serif;
}
#apps-export-dt-table td
{
    font-family:Consolas;
}

#apps-export-dt-table tr:nth-child(odd) 
{
    background-color: rgba(0, 127, 251, 0.1)!important;
}
#apps-export-dt-table tr>* 
{
    background-color: transparent!important;
}
#apps-export-dt-table tr:hover
{
    // background-color: rgba(pink, 0.5)!important;
    background-color: rgba(gold, 0.5)!important;
}


.DateRangePickerInput__withBorder 
{
    border:none;
}
.DateRangePickerInput 
{
    background-color:inherit;
}


