/* Made with love by Mutiullah Samim*/
@font-face {
  font-family: 'Numans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/numans/v10/SlGRmQmGupYAfH84ZhIk.ttf) format('truetype');
}
#app-loginpage {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  /* background-image: url('https://getwallpapers.com/wallpaper/full/a/9/b/34510.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100% !important;
  font-family: 'Numans', sans-serif;
  height: 100%;
  align-content: center;
}
#app-loginpage .card {
  width: 400px;
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
#app-loginpage .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}
#app-loginpage .social_icon span,
#app-loginpage #lm-login-kakao {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}
#app-loginpage .social_icon span:hover,
#app-loginpage #lm-login-kakao:hover {
  color: white;
  cursor: pointer;
}
#app-loginpage #lm-login-kakao {
  display: inline-block;
  height: 60px;
  aspect-ratio: 1;
  margin-top: 10px;
  background: url(/assets/img/kakao.svg) no-repeat center;
}
#app-loginpage #lm-login-kakao:hover {
  background: url(/assets/img/kakao_hover.svg) no-repeat center;
}
#app-loginpage .card-header h3 {
  color: white;
}
#app-loginpage .input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}
#app-loginpage input:focus {
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}
#app-loginpage .remember {
  color: white;
}
#app-loginpage .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center!important;
}
#app-loginpage .remember label {
  display: flex;
  flex-wrap: wrap;
  align-items: center!important;
}
#app-loginpage .login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}
#app-loginpage .login_btn:hover {
  color: black;
  background-color: white;
}
#app-loginpage .links {
  color: white;
}
#app-loginpage .links a {
  margin-left: 4px;
}
