body{
    background-color: #343a40;
}

/* whole page container */
.app-container{
    font-size: 1.6rem;
    background-color: #f8f9fa;
    /*line-height: 2.0;*/
}

.app-content{
    margin-left: 0rem;
    margin-right: 1rem;
    padding: 0.5rem 0.5rem;
}

/* ----[ sidebar ]---- */
.app-sidebar{
    background-color: #fdb515;/* !important;*/
    /*#f8f9fa;*/
}
.app-sidebar.li{
    margin-bottom: 0rem;
}
ul.nav.nav-pills{
    flex-grow: 1;
    align-items: center;
}
#sidebar-brand
{
    font-size: inherit;
}
#sidebar-brand img
{
    height:32px;
    /* margin-right: 5px; */
}
#sidebar-github
{
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
}
 #sidebar-login
{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}


/* home contents */
.home-content{
    /*font-style:italic;*/
    font-size: 1.4rem;
}

.camsGraphBorder{
    margin-top: 4px;
    border: 1px solid lightgray;
}

.cams_contents_table{
    border-collapse: separate;
    border-spacing: 0 0px;
    display: block !important;
    width: 100%;
}
.cams_table_td{   
    vertical-align: middle;
    font-family:Consolas;
}
#cams-sr-label{
    color:blue;
    padding-left:10px;
}

.DateInput_input
{
    font-weight: inherit;
}




/* log message */
.log-listing
{
    width: 100%;
    color: darkblue;
    font-size: 1.5rem;
    font-family: Consolas;
}