body{
    background-color: black
}

/* whole page container */
.app-container{
    font-size: 1.6rem;
    background-color: #f8f9fa;
    /*line-height: 2.0;*/
}

.app-content{
    margin-left: 0rem;
    margin-right: 1rem;
    padding: 0.5rem 0.5rem;
}

/* sidebar & content layout */
.app-sidebar{
    /*position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 1rem 1rem;
    background-color: midnightblue */
    background-color: #fdb515;/* !important;*/
    /*#f8f9fa;*/
}
.app-sidebar.li{
    margin-bottom: 0rem;
}

/* home contents */
.home-content{
    /*font-style:italic;*/
    font-size: 1.4rem;
}

.camsGraphBorder{
    margin-top: 4px;
    border: 1px solid lightgray;
}

.cams_contents_table{
    border-collapse: separate;
    border-spacing: 0 0px;
    display: block !important;
    width: 100%;
}
.cams_table_td{   
    vertical-align: middle;
    font-family:Consolas;
}
#cams-sr-label{
    color:blue;
    padding-left:10px;
}

.DateInput_input
{
    font-weight: inherit;
}

.company-logo{
    color: goldenrod;
    text-align:left;
    border: none;/*dashed;*/
    padding-left: 0px;
    height: 3rem;
    /*background-image: url(/assets/logo_tr.png);
    background-size: 114px 74px;*/
}

#b2f-logo-img
{
    /*width:67px;*/
    height:32px;
    margin-right: 5px;
}


/* log message */
.log-listing
{
    width: 100%;
    color: darkblue;
    font-size: 1.5rem;
    font-family: Consolas;
}