wheel
redis
pandas
matplotlib
python-dotenv

pymongo
#psycopg2
psycopg2-binary

flask
flask_caching
flask-login

dash
dash_daq
dash_bootstrap_components

opencv-python

#mod_wsgi
# mod_wsgi는 apache에 wsgi 모듈을 추가하는 작업으로
# apache에 직접 모듈을 추가했거나
# apache를 사용하지 않을 경우(Dash.run_server사용) 
# 인스톨할 필요가 없다.

