wheel
redis
pandas
matplotlib
Pillow

pymongo
#psycopg2
psycopg2-binary

Flask           
Flask-Caching   
Flask-Login     
Flask-Sockets   
Flask-SQLAlchemy

dash
dash-daq
dash-bootstrap-components
dash-extensions

opencv-python
websockets
paramiko

#mod_wsgi
# mod_wsgi는 apache에 wsgi 모듈을 추가하는 작업으로
# apache에 직접 모듈을 추가했거나
# apache를 사용하지 않을 경우(Dash.run_server사용) 
# 인스톨할 필요가 없다.

